@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    background-color: #3b5998;
    padding: 2vmin 0;
    font-family: 'Chilanka', cursive;
}

header h1{
    text-align: center;
    font-size: 4em;
    color: wheat;
}

body{
    background-color: ;
    font-family: 'Baloo Tamma 2', cursive;
}

.score-board{
    color: red;
    text-align: center;
    font-size: 2.5em;
    padding: 2vmin;
    border-radius: 20px;
}

.score-board .userscore, .score-board .compscore, .score-board span{
    display: inline-block;
    padding: 0 1vmin;
}

/* 
.score-board .userscore{
    position: absolute;
    top: 35px;
    left: -40px;
}


.score-board .compscore{
    position: absolute;
    top: 35px;
    right: -40px;
} */

.score-board span{
    font-size: 2em;
    color: #f9af03

    ;
}
.select-box{
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    border-radius: 20px;
    background-color: black;
    

}
.box-lft{
    width: 50%;
    border: 2px solid;
   background-color: gray;
   text-align: center;
   margin: 5px;
   overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  height: 10rem;
}
.box-rgt{
    width: 50%;
    border: 2px solid;
   background-color: gray;
   text-align: center;
   height: 10rem;
   margin: 5px;
   overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}


.result{
  
    flex-direction: column;
    text-align: center;
    margin: 1vmin auto 3vmin auto;
    font-size: 2em;
}

#result-final-stat{
    
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    color: #E07C24;
}

.choices{
    margin: 5vmin auto;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
}

.choice{
    padding: 3vmin 3vmin;
    margin: 0 2vmin;
    display: inline-block;
    border-radius: 50%;
    transition: all .2s ease-in;
    cursor: pointer;
}

.choice:hover{
    background-color: #f75555;
    border: 2px solid #47030f;


}

.name{
    color: #e7e3ff;
}


  #loader {
    z-index: 1;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }